## Working with MySQL in Python

In [14]:
# Importing the MySQL connector to build a connection with the database

import mysql.connector

In [15]:
# Connecting with MySQL to with Credentials 

mydb = mysql.connector.connect(
host='localhost',
user='root',
password='*******')

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000020312E9FE20>

In [16]:
# Cretaing a cursor object for the database

'''Cursor are bound to the connection for the entire lifetime and 
all the commands are executed in the context of the database session wrapped by the connection'''

cur = mydb.cursor(buffered=True) #buffered makes the execution process continious

In [17]:
# creating a database

cur.execute('CREATE DATABASE mydata')

In [19]:
# Identifying the list of available databases

cur.execute("show databases")
cur.fetchall    # fetchall - fetches all rows

In [21]:
# Dropping a database

cur.execute('drop database mydata')

In [26]:
# Identifying the current database

print(cur.execute('select database()'))

None

In [27]:
# Selecting a database

print(cur.execute('use mydatabase'))

None

In [29]:
# Creating a table for the database

cur.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [30]:
# Using for loop to iterate through list of tables

cur.execute('show tables')
for i in cur:
    print(i)

('customers',)

In [31]:
# Identifying the list of avaiable databases

cur.execute('show databases')
for i in cur:
    print(i)

('classicmodels',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

In [33]:
# Describing table properties

cur.execute('desc customers')
for i in cur:
    print(i)

('name', b'varchar(255)', 'YES', '', None, '')
('address', b'varchar(255)', 'YES', '', None, '')

In [34]:
# Adding a primary key and a new column using the alter method

cur.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [35]:
# checking the changes made

cur.execute('desc customers')
for i in cur:
    print(i)

('name', b'varchar(255)', 'YES', '', None, '')
('address', b'varchar(255)', 'YES', '', None, '')
('id', b'int', 'NO', 'PRI', None, 'auto_increment')

   ### Commit() - is necessary to make any changes in the database table

In [40]:
# Inserting values into the customers table

cur.execute('INSERT INTO customers (name,address) VALUES ("john","Highway 21")')
mydb.commit()

In [41]:
# Selecting all the data from customers table

cur.execute('select * from customers')
cur.fetchall()

[('john', 'Highway 21', 1), ('john', 'Highway 21', 2)]

In [45]:
# Deleting a customer with ID = 2

cur.execute('delete from customers where id="2"')
mydb.commit()

### Inserting values into the table

In [46]:
# Inserting a single row of data into the table

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
cur.execute(sql, val)

mydb.commit()

### Inserting Multiple values into the table

In [47]:
# Inserting multiple rows of data into the table

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

cur.executemany(sql, val)     # executemany() - to insert multiple values

mydb.commit()